
* {
	margin: 0;
	padding: 0;
}

html {
	scroll-behavior: smooth;
}

body {
	height: 100%;
	overflow-x:hidden;

	background: #272727 url('../resources/background_red.png') repeat-y;
	background-size: auto 50%;

}

#logo_background {
	background: #272727 url('../resources/background_red.png') repeat-y;
	background-size: 50% auto;
}


#container {
	/*background-color:green;*/


	text-align: center;
	overflow-x:hidden;
	height: 110%;
}

#logo_background {

	height:100%;


}

#logo_container {

	background: #A20000 url('../resources/background_grey.png') repeat-y;
	background-size: 50% auto;


	height:100%;

	margin-left: auto;
	width: 446px;
	margin-right: auto;
	margin-bottom: -5px;


	display: inline-block;
}


#hex {
    cursor: pointer;

	height:100%;
	/*background-color:purple;*/
	background-image: url('../resources/images/tilebackground.png');

	padding-top:250px;
	padding-bottom: 250px;

	text-align:center;
}

#logo_left {
    cursor: pointer;

	background-color: #A20000;
	/*background-color: red;*/

	float:left;
	width:223px;

	margin-top: 0px;
	padding-top:50px;
	height:775px;
	padding-bottom:200px;
	margin-bottom: auto;
}

#logo_left h1 {
	float:right;
	padding-top:225px;

	font-family: "Segoe UI",Arial,sans-serif;
	color: #272727;
}

#logo_right {
    cursor: pointer;

	background-color: #272727;
	/*background-color: blue;*/

	float:right;
	width:223px;

	padding-top: 275px;
	height:550px;
	padding-bottom:200px;
}

#logo_right h1 {
	float:left;

	
	font-family: "Segoe UI",Arial,sans-serif;
	color: #A20000;
}

#hex h1 a {
	font-family: "Segoe UI",Arial,sans-serif;
	color: #272727;
	text-decoration:none;
}

